$textcolor: black;


body {
    max-width: 1200px;
    width: 90%;
    margin: 20px;
    display: flex;
    flex-flow: column;

}
header {
    display: flex;
    flex-flow: row wrap;
    margin: 30px;
    
}
.conatiner_logo {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    
}
.logo {
    font-family: 'Aldrich', sans-serif;
    font-size: 24px;

}
nav {
    width:50%;
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;

}
ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    
    a {
        text-decoration: none;
        color: $textcolor;

    }
    li {
        margin: 20px;

    }
}


a:hover {
    color: gray;

}

a:active {
    color: lightblue;
    transform:scale(2);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.conatiner_main-text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

    h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 90px;
        padding: 20px;
        margin: 20px;

    }
    p {

        font-size: 22px;
        line-height: 33px;
        font-family: 'Source Sans Pro', sans-serif;
    }

}

.button {
    visibility: hidden;
    display: flex;
    align-items: center;

}

@media screen and (max-width: 1000px) {
    .logo {
        font-family: 'Baloo 2', cursive;
        font-weight: 400;
        font-size: 24px;
    }
    .conatiner_main-text {
        h1 {
            font-size: 72px;           
        }

    }
    .button {
        visibility: hidden;
    }
       
   } 

   @media screen and (max-width: 500px) {

    .conatiner_main-text {
        h1 {
            font-size: 46px;
            }
            p {
                font-size: 12px;
            }
    
        }
        .button {
            visibility: visible;

        }
        li {
            visibility: hidden;
        }
       
   }
