$textcolor: black;


body {
    max-width: 1200px;
    width: 90%;
    margin: 20px;
    display: flex;
    flex-flow: column;
    margin: auto;

}
header {
    display: flex;
    flex-flow: row wrap;
    margin: 30px;
    
}
.conatiner_logo {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    
}
.logo {
    font-family: 'Aldrich', sans-serif;
    font-size: 24px;

}
nav {
    width:50%;
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;

}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    
    a {
        text-decoration: none;
        color: $textcolor;

    }
    .nav-list-item {
        margin: 20px;

    }
}


a:hover {
    color: gray;

}

a:active {
    color: lightblue;
    transform:scale(2);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.conatiner_main-text {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

    h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 90px;
        padding: 20px;
        margin: 20px;

    }
    p {

        font-size: 22px;
        line-height: 33px;
        font-family: 'Source Sans Pro', sans-serif;
    }

}

.drop-button {
    visibility: hidden;
    display: flex;
    align-items: center;

}
.icon {
    visibility: hidden;
    display: flex;
    align-items: center;
    font-size: 42px;
    text-decoration: none;
    color: black;

}
.nav {
    display: block;
    visibility: hidden;
    position: absolute;
}
.responsive ul {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgba(245, 245, 220, 0.43);
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .logo {
        font-family: 'Baloo 2', cursive;
        font-weight: 400;
        font-size: 24px;
    }
    .conatiner_main-text {
        h1 {
            font-size: 72px;           
        }

    }
    .drop-button {
        visibility: hidden;
    }
       
   } 

   @media screen and (max-width: 500px) {

    .conatiner_main-text {
        h1 {
            font-size: 46px;
            }
            p {
                font-size: 12px;
            }
    
        }
        .drop-button {
            visibility: visible;

        }
        .icon {
            visibility: visible;

        }
        .icon:active {
            .nav {
                visibility: visible;
                position: static;
            }
        }
        .responsive ul li {
            visibility: visible;
        }
        .nav-list-item {
            visibility: hidden;
        }
       
   }
